// COLORS
$white: #FFF;
$black: #1A1A1A;
$blue: #003F60; // navbar
$lightblue: #0D6FA1; // filters
$teal: #12A99C; // search button
$female-icon: #D69690;
$male-icon: #8DD1CB;
$cake-icon: #909FD6;
$star: #C79320; // empty has a blue border and white background
$lightgrey: #F8F8F8;

$small-spacing: 8px;
$medium-spacing: 16px;
$large-spacing: 24px;

%container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
